{% extends 'base.html.twig' %}

{% block title %}
    {{ 'serwis_ogloszeniowy_strona_glowna'|trans}}
{% endblock %}

{% block content %}

    <a href ="{{ url ('ads_add') }}">
        <button class="btn btn-info">Dodaj ogłoszenie</button>
    </a>

    <a href ="{{ url ('user_registration') }}">
        <button class="btn btn-info">Zarejestruj</button>
    </a>





{% endblock %}