{% extends 'base.html.twig' %}

{% block title %}
    {{ 'serwis_ogloszeniowy_strona_glowna'|trans }}
{% endblock %}



{% block content %}


    {% include "advertisement/ads_list.html.twig" %}

    <div class="paginator container">
        {% include 'default/_paginator.html.twig' with {
            paginator: advertisements,
            route_name: 'ads_index',
        } %}
    </div>
{% endblock %}