{% extends 'base.html.twig' %}

{% block title %}{{ 'rejestracja'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'lista_uzytkownikow'|trans }}</h1>

    {% include 'default/_paginator_user_view.html.twig' with {
        paginator: users,
        route_name: 'user_index',
    }
    %}

    {% for user in users.data %}
    <a href ="{{ url ('user_view', {'id': user.id}) }}">
        <p class="btn">
            {{ user.login}}

        </p>
    </a>
    {% endfor %}

{% endblock %}