{% extends 'base.html.twig' %}

{% block title %}{{ 'wyszukiwarka'|trans }}{% endblock %}

{% block body %}



{% if users %}

        {% for user in users.data %} {# result.data przy paginacji#}

            <a href ="{{ url ('user_view', {'id': user.id}) }}">
                {{ user.login }}
            </a>

        {% endfor %}

{% endif %}

    <div class="paginator container">
    {% include 'default/_paginator_search.html.twig' with {
        paginator: users,
        route_name: 'user_search',
    }
    %}
    </div>

{% endblock %}