#stopka{
    /*position: marker;*/
    align-content: end;
    width:100%;
    background-color: #486574;
    color: white;

}

.ad{
    /*background-color: #B2BCC1;*/
}

.form{
    width: 1000px;
    margin: 0 auto;
    display: block;
}

body{
    text-align: center;
    background-color: #E1EEF4;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-decoration: none;
}







