#stopka{
    bottom: -50px;
    height: 30px;
    /*margin: 10px 0;*/
    width:100%;
    background-color: #486574;
    color: white;
    position: absolute;
    text-align: center;

}

.ad{
    /*background-color: #B2BCC1;*/
}

.paginator li.disabled{
    display: none;
}
.clear{
    clear: both;
}

.paginator li{
    width: 50%;
}


.paginator li.previous{
    float: left;
}

.paginator li.next{
    float: right;
}


ul {
    list-style-type:none;
}

#back{
    float:left;

}

.navigation{
    border-top: 2px solid #486574;
    border-bottom: 2px solid #486574;
    font-size: 20px;
}

.logo{
    float: left;
    margin-bottom: 20px;
    height: 100px;
    width: auto;
}

.form{
    width: 1000px;
    position: relative;
    margin: 0 auto;
    display: block;
}

form img{
    max-width: 200px;
}

.left{
    float:left;
}

.right{
    float:right;
}

body{
    text-align: center;
    background-color: #E1EEF4;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-decoration: none;
    position: relative;
    padding-bottom: 160px;
}

img{
    width: 100%;
}

ul li img{
    max-width: 100%;
    width: auto;
}

ul li img{
    height: 200px;
}

.has-error .list-unstyled li{
display: none;
}






