{% extends 'base.html.twig' %}

{% block title %}{{ 'wyszukiwarka'|trans }}{% endblock %}

{% block body %}

{% include 'default/_paginator_search_advertisement.html.twig' with {
    paginator: advertisements,
    route_name: 'home_search',
}
%}

        {% include "advertisement/ads_list.html.twig" %}

        <div class="paginator container">
            {% include 'default/_paginator.html.twig' with {
                paginator: advertisements,
                route_name: 'ads_index',
            } %}
        </div>
{% endblock %}
