
{% for category in categoriesMenu %}
    <div class="col-md-1">
        <a href="{{ url ('category_view', {'id': category.id}) }}">
            {{ category.name }}
        </a>

    </div>
{% endfor %}


